
*{ 
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-color: whitesmoke;

}
.fb{
    width: 20;
}
.main{
    background-color: antiquewhite;
    width: 80%;
    height: 600px;
    margin: 150px;
    margin: 0 auto;
}
:fb{

}
.main .facebook h1{
    color: blue;
    font-size: 70px;
}
.main .facebook p{
    font-size: 30px;
}
.main .facebook-login{
    width: 35%;
    display: inline-block;
    float: right;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 4px 6px 20px 4px grey;
}
.main .facebook-login form input{
    width: 100;
    padding: 10px 10px;
    border-radius: 6px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}
.main .facebook-login .forgot a{
    background-color: rgb(red, green, blue);
    padding: 10px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.main .facebook-login .account a{
    text-decoration: none;
}
.main .facebook-login .forgot a{
    text-decoration: none;
    color: blue;
}
.main .facebook-login .account{
    background-color: rgb(40, 232, 40);
    padding: 10px;
    text-align: center;
    width: 60%;
    margin: 10px auto;
    border-radius: 6px;
}.main .facebook-login .forgot a{
    text-decoration: none;
    color: blue;
}
.fb-login{
    display: flex;
    flex-direction: column;
}
